[submodule "third_party/assimp"]
	path = third_party/assimp
	url = https://github.com/assimp/assimp.git
[submodule "third_party/glog"]
	path = third_party/glog
	url = https://github.com/google/glog.git
